client/plik
clients
documentation
release
releases
server/plikd
server/common/version.go
testing
webapp/node_modules
webapp/bower_components
webapp/dist
**/plik.db*
**/plik.crt
**/plik.key
**/files
**/*.md
.idea