*/plik
plikd
clients
server/plik.db
server/files
server/public/public
clients
client/client
servers
server/common/version.go
release
releases
debs
plikd_*.cfg
*bower_components
*node_modules
*.log
*.key
*.crt
# IntelliJ IDEA
.idea
plik.iml
*/coverage.out