plik
plikd
clients
server/files
server/public/public
clients
client/client
servers
server/server
release
debs
plik_*.cfg
*bower_components
*node_modules
*.log

plik_refactor

# IntelliJ IDEA
.idea
plik.iml
