/* Fonts */

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/courgette-regular-webfont.eot');
    src: url('../fonts/courgette-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/courgette-regular-webfont.woff2') format('woff2'),
    url('../fonts/courgette-regular-webfont.woff') format('woff'),
    url('../fonts/courgette-regular-webfont.ttf') format('truetype'),
    url('../fonts/courgette-regular-webfont.svg#courgetteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;

    font-family: 'Open Sans', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background: #2d6588 url(../img/background.jpg) no-repeat fixed center center;
    background-size: cover;
}

/* View */

#view {
    height: calc(100% - 40px); /**/
    min-height: calc(100% - 40px); /**/
    background: transparent;
    overflow: auto;
}

/* extra small devices */
@media all and (max-width: 768px) {
    /* view margin */
    #view {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* small devices */
@media all and (min-width: 768px) and (max-width: 970px) {
    /* view margin */
    #view {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* medium devices */
@media all and (min-width: 970px) and (max-width: 1170px) {
    /* view margin */
    #view {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* large devices */
@media all and (min-width: 1170px) {
    #view {
        margin-left: 35px;
        margin-right: 35px;
    }
}

/* Header */

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Courgette', sans-serif;
}

header h1 {
    margin-top: 0;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #FFFFFF;
    letter-spacing: -1px;
}

header a:hover, header a:visited, header a:link, header a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.header-right {
    margin-right: 20px;
}

.header-inner {
    position: relative;
    margin: 0 auto;
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    font-family: 'Courgette', sans-serif;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.auth-btn {
    display: inline-block;
    padding: 5px;
}

/* Tile */

.tile {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.52);
    margin-bottom: 5px;
}

.tile > .panel-heading {
    background-color: ghostwhite;
}

/* Menu */

.menu {
    padding: 10px;
    font-size: 12px;
    line-height: 1.3;
}

/* Comments */

.comments {
    display: inline-block;
    word-wrap: break-word;
    padding: 5px 5px 5px 5px;
}

/* Drag and Drop */

#drop-zone {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}

.drop-text {
    padding-bottom: 10px;
}

.btn-file {
    width: 200px;
}

.drag-over {
    opacity: 0.5;
}

/* File list */

.row-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.file {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 5px 5px 5px 5px;
}

.file-flex {
    display: flex;
    align-items: center;
}

.file-pencil-padding {
    padding-right: 10px;
}

.file-name {
    display: inline-block;
    word-break: break-all;
}

.file-name-invalid {
    color: red;
}

.file-status {
    color: #ff2132;
    font-size: 18px;
}

/* Link summary */

.link-summary {
    padding: 15px;
    word-break: break-all;
}

/* QRCode */

.qrcode-header {
    text-align: center;
    word-break: break-all;
}

/* Clients */

.client-max-width {
    max-width: 550px;
}

/* Tokens */
.token-speach {
    font-size : 12px;
    font-family: sans-serif;
}