.area{

    position: absolute;
    top:15%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.wallpaper{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    /*text-align: center;*/
}

.table td,th {
    text-align: center;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.linkSummary {
    word-wrap: break-word;
}

.comments {
    word-wrap: break-word;
}

.fileStatus {
    color : #ff2132;
    font-size: 18px;
}
