<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="/" class="glyphicon glyphicon-refresh"></a>
                <span>Choose your client</span>
            </h3>
        </div>
        <div class="panel-body main">
            <fieldset>
                <div class="form-group clientList">
                    <table class="table">
                        <tr><th>name</th><th>link</th></tr>
                        <tr ng-repeat="client in clients">
                            <td>{{client.name}}</td>
                            <td>
                                <a href="{{client.url}}">
                                    <button title="Download" type="button" class="btn btn-success"><span class="glyphicon glyphicon-cloud-download"></span></button>
                                </a>
                                <button type="button" class="btn btn-success" clip-copy="client.url">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
