
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-centered client-max-width">
    <div class="tile panel panel-default">
        <div class="panel-body main">
            <div class="row file" ng-repeat="client in clients">
                <div class="col-xs-8">
                    <div class="file-name" ng-click="client.showDetails = !client.showDetails">
                        <i class="{{client.showDetails|collapseClass}} hidden-xs"></i>
                        {{client.name}}
                    </div>
                    <div class="small hidden-xs" ng-show="client.showDetails">
                        <strong>md5 :</strong> {{client.md5}}<br/>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <!-- DOWNLOAD BUTTON -->
                    <a href="{{client.path}}">
                        <button title="Download" type="button" class="btn btn-success btn-sm">
                            <span class="fa fa-cloud-download"></span>
                            <span class="hidden-xs hidden-sm hidden-md"> Download</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
